swagger: '2.0'
info:
  description: The Constant Contact, Inc. V3 public API, for building integrations with Constant Contact, the leading small-business email marketing platform.
  version: 3.0.149
  title: AppConnect V3 Account Services Events API
  contact:
    name: webservices@constantcontact.com
  license:
    name: Private
    url: https://www.constantcontact.com/legal/terms-of-use
host: api.cc.email
basePath: /v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Events
  description: Endpoints and methods used to create and manage events.
paths:
  /events:
    get:
      tags:
      - Events
      summary: GET a collection of events.
      description: Retrieve a collection of events with event details.
      operationId: findEvents
      produces:
      - application/json
      parameters:
      - name: event_status
        in: query
        description: Use to return only events that meet the specified status. Acceptable values include `ACTIVE`,`DRAFT`, `COMPLETE`, `DELETED`,`CANCELLED`, and `ERROR`.
        required: false
        type: string
        x-example: DRAFT
      - name: search_text
        in: query
        description: Use to return only events that include the specified text.
        required: false
        type: string
        x-example: reunion
      - name: sort_by
        in: query
        description: 'Use to sort resulting events by one of the following properties: `name`, `start_time`, `end_time`, `created_time`, or `updated_time`.'
        required: false
        type: string
        x-example: created_time
      - name: sort_order
        in: query
        description: Sort order for the `sort_by parameter`. Accepted values include `ASC` (ascending) or `DESC` (descending). Defaults to `ASC` if `sort_by` is provided.
        required: false
        type: string
        x-example: DESC
      - name: limit
        in: query
        description: Limit the number of results to return per page. Default and maximum is `100`.
        required: false
        type: string
        x-example: '5'
      - name: prev
        in: query
        description: Cursor for retrieving the previous page of results. This value is obtained from the `prev_cursor` field in a previous response.
        required: false
        type: string
        x-example: 7zDEe3DhD5gUiwRFsvWKKZlZO1j6-YihH2hyVWD8GaW7JnzXbHFP8Tou212KoU20mOjvM6pdWwycDWC3X-Hb_xY-RK1eBwYp_pc4X2CvLxo.
      - name: next
        in: query
        description: Cursor for retrieving the next page of results. This value is obtained from the `next_cursor` field in a previous response.
        required: false
        type: string
        x-example: 7zDEe3DhD5gUiwRFsvWKKZlZO1j6-YihH2hyVWD8GaW7JnzXbHFP8Tou212KoU20mOjvM6pdWwycDWC3X-Hb_xY-RK1eBwYp_pc4X2CvLxo
      responses:
        '200':
          description: Request Successful
          schema:
            $ref: '#/definitions/PaginationDtoEventListingDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
        '503':
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:read
  /events/default:
    post:
      tags:
      - Events
      summary: POST (create) a new event.
      description: Creates a new event with default settings, registration form, and landing page. The event will be created in DRAFT status.
      operationId: addDefaultEvent
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: Name for the new event. If not provided, a default name will be generated.
        required: false
        type: string
        x-example: My Event
      - name: start_time
        in: query
        description: Event start time in ISO 8601 format. If not provided, defaults to a future date.
        required: false
        type: string
        x-example: '2024-01-15T10:00:00Z'
      - name: end_time
        in: query
        description: Event end time in ISO 8601 format. If not provided, defaults to one hour after start time.
        required: false
        type: string
        x-example: '2024-01-15T18:00:00Z'
      - name: placeholder_campaign_id
        in: query
        description: Placeholder campaign ID for the event.
        required: false
        type: string
        x-example: campaign-123
      responses:
        '201':
          description: Event created successfully
          schema:
            $ref: '#/definitions/EventDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
      x-sdk-methodName: createEvent
  /events/{event_id}:
    get:
      tags:
      - Events
      summary: GET details for a single event.
      description: Specify the `event_id` path parameter to retrieve the event's details.
      operationId: getEvent_2
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: 1697732a-8664-4675-8415-c4aabaa17dae
      - name: include
        in: query
        description: Use to include (`true`) or exclude (`false`) event setting properties in the results.
        required: false
        type: boolean
        x-example: true
      responses:
        '200':
          description: Request Successful
          schema:
            $ref: '#/definitions/EventDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
        '503':
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:read
    patch:
      tags:
      - Events
      summary: PATCH (update) an event.
      description: Partially updates an event with the provided fields. Only the specified fields will be updated. This endpoint only works for events in DRAFT or ACTIVE status. Events in COMPLETE, CANCELED, or DELETED status cannot be updated.
      operationId: patchEvent
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event to update.
        required: true
        type: string
        x-example: 1697732a-8664-4675-8415-c4aabaa17dae
      - in: body
        name: body
        description: A JSON request body containing the event fields to update.
        required: true
        schema:
          $ref: '#/definitions/EventDto'
      responses:
        '204':
          description: Event updated successfully
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
      x-sdk-methodName: updateEvent
  /events/{event_id}/copy:
    post:
      tags:
      - Events
      summary: POST (copy) an existing event.
      description: Creates a deep copy of an existing event with all its settings, registration forms, and landing pages. The copied event is created in DRAFT status. Events in DRAFT, ACTIVE, COMPLETE, or CANCELED status can be copied. DELETED events cannot be copied.
      operationId: copyEvent
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID of the event to copy.
        required: true
        type: string
        x-example: 1697732a-8664-4675-8415-c4aabaa17dae
      - in: body
        name: body
        description: A JSON request body containing the copy options.
        required: true
        schema:
          $ref: '#/definitions/EventCopyRequestDto'
      responses:
        '200':
          description: Event copied successfully
          schema:
            $ref: '#/definitions/EventDto'
        '207':
          description: Event copied with some failures
          schema:
            $ref: '#/definitions/EventDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
      x-sdk-methodName: copyEvent
  /events/{event_id}/check_in/tickets:
    post:
      tags:
      - Events
      summary: Check in event tickets.
      description: Use this endpoint to mark one or more tickets as checked in. The event must be in `ACTIVE` or `COMPLETE` status. Tickets with `CANCELLED` status cannot be checked in (returns HTTP 400).
      operationId: checkInTickets
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: 07216444-4e3b-41ea-a3b8-5a418fce41f4
      - in: body
        name: body
        description: Set of order ticket keys to mark as checked in.
        required: true
        schema:
          $ref: '#/definitions/OrderTicketKeysRequestDto'
      responses:
        '204':
          description: Successfully checked in order tickets.
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
  /events/{event_id}/undo_check_in/tickets:
    post:
      tags:
      - Events
      summary: Undo event ticket check-in.
      description: Use this endpoint to undo check-in for one or more tickets, marking them as not checked in. The event must be in `ACTIVE` or `COMPLETE` status.
      operationId: undoCheckInTickets
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: 07216444-4e3b-41ea-a3b8-5a418fce41f4
      - in: body
        name: body
        description: Set of order ticket keys to mark as not checked in.
        required: true
        schema:
          $ref: '#/definitions/OrderTicketKeysRequestDto'
      responses:
        '204':
          description: Successfully undone check-in for order tickets.
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
  /events/{event_id}/tracks/{track_id}/registrations/{registration_id}:
    get:
      tags:
      - Events
      summary: Get registration details for an event.
      description: Use the `event_id`, `registration_id`, and `track_id` path parameters to get registration details.
      operationId: getRegistrationInfo
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: 1697732a-8664-4675-8415-c4aabaa17dae
      - name: track_id
        in: path
        description: The track key that uniquely identifies the event track.
        required: true
        type: string
        x-example: s8zabc
      - name: registration_id
        in: path
        description: The ID that uniquely identifies the registration.
        required: true
        type: string
        x-example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Request Successful
          schema:
            $ref: '#/definitions/DetailedRegistrationDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
        '503':
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:read
  /events/{event_id}/tracks/{track_id}/registrations:
    get:
      tags:
      - Events
      summary: Get a list of registrations for an event.
      description: Use the `event_id` and `track_id` path parameters to get a list of registrations for an event. Use optional query parameters to limit the number of results returned per page, the sort order, or to filter results by specific criteria; such as registration `status`.
      operationId: findRegistrationsUsingGET
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: 1697732a-8664-4675-8415-c4aabaa17dae
      - name: track_id
        in: path
        description: The track ID that uniquely identifies the event track.
        required: true
        type: string
        x-example: s8zabc
      - name: registration_status
        in: query
        description: Filter registration results by status.
        required: false
        type: string
        enum:
        - PENDING
        - REGISTERED
        - CANCELED
        - EXPIRED
        - IN_PROGRESS, FAILED
        x-example: REGISTERED
      - name: payment_status
        in: query
        description: Filter registration results by payment status.
        required: false
        type: string
        enum:
        - PENDING
        - PAID
        - REFUNDED
        - CANCELLED
        - FAILED
        - CHARGED_BACK
        x-example: PAID
      - name: search_text
        in: query
        description: Filter registration results by first name, last name, or email address.
        required: false
        type: string
        x-example: john.doe@example.com
      - name: sort_by
        in: query
        description: Specify the field to use to sort the results.
        required: false
        type: string
        enum:
        - first_name
        - last_name
        - email_address
        - registration_status
        - payment_status
        - tickets
        - total
        x-example: email_address
      - name: sort_order
        in: query
        description: Use to specify how you want the results sorted.
        required: false
        type: string
        enum:
        - ASC
        - DESC
        x-example: ASC
      - name: page_size
        in: query
        description: Alternative to the <code>limit</code> parameter to limit the number of results returned per page. If specifying both the <code>limit</code> and <code>page_size</code> query parameters, they must be the same value.
        required: false
        type: string
        x-example: '50'
      - name: limit
        in: query
        description: Limit the number of results returned per page. If specifying both the <code>limit</code> and <code>page_size</code> query parameters, they must be the same value.
        required: false
        type: string
        x-example: '50'
      - name: prev
        in: query
        description: Cursor for pagination used to get the previous page of results (mutually exclusive with <code>next</code>).
        required: false
        type: string
        x-example: bSzsyWkkq95R44vIFEpY62gr8_xSeRXsEQkhnhltPgiT
      - name: next
        in: query
        description: Cursor for pagination used to get the next page of results (mutually exclusive with <code>prev</code>).
        required: false
        type: string
        x-example: cTk9xLmmr06S55wJGfQ73hs9_yTfSYtFRlimimQhjUj
      responses:
        '200':
          description: Successfully retrieved registrations
          schema:
            $ref: '#/definitions/PaginatedRegistrations'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:read
    put:
      tags:
      - Events
      summary: Update status for event registrations.
      description: Use this endpoint to update the registration status for one or more registrations within an event track.
      operationId: updateRegistrationStatusUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: 07216444-4e3b-41ea-a3b8-5a418fce41f4
      - name: track_id
        in: path
        description: The track key that uniquely identifies the event track.
        required: true
        type: string
        x-example: gqz1gb
      - name: increase_count
        in: query
        description: Override count flag.
        required: false
        type: boolean
      - name: increase_item_count
        in: query
        description: Override item count flag.
        required: false
        type: boolean
      - name: return_items_to_inventory
        in: query
        description: Return items to inventory flag. Defaults to `true`.
        required: false
        type: boolean
      - in: body
        name: body
        description: Registration status update request data.
        required: true
        schema:
          $ref: '#/definitions/RegistrationStatusUpdateRequestDto'
      responses:
        '200':
          description: Successfully updated registration status.
        '207':
          description: Some registrations failed to update.
          schema:
            $ref: '#/definitions/RegistrationStatusUpdateResponseDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
  /events/{event_id}/tracks/{track_id}/registrations/payment_status:
    put:
      tags:
      - Events
      summary: Update payment status for event registrations.
      description: Use this endpoint to update the payment status for one or more registrations. This endpoint only processes registrations with a payment method (PAYPAL, WEPAY, STRIPE, DOOR, or CHECK). Free registrations without a payment method are silently excluded.
      operationId: updateRegistrationPaymentStatusUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: The ID that uniquely identifies the event.
        required: true
        type: string
        x-example: c5da3665-88f9-4b15-82bc-cd6593c32537
      - name: track_id
        in: path
        description: The track key that uniquely identifies the event track.
        required: true
        type: string
        x-example: 2unzqq
      - in: body
        name: body
        description: Payment status update request data.
        required: true
        schema:
          $ref: '#/definitions/PaymentStatusUpdateRequestDto'
      responses:
        '200':
          description: Successfully updated payment status.
        '207':
          description: Some registrations failed to update.
          schema:
            $ref: '#/definitions/RegistrationStatusUpdateResponseDto'
        '400':
          description: Bad request. Either the JSON was malformed or there was a data validation error.
        '401':
          description: The Access Token used is invalid.
        '403':
          description: Forbidden request. You lack the necessary scopes, you lack the necessary user privileges, or the application is deactivated.
        '404':
          description: The requested resource was not found.
        '500':
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - campaign_data
      - oauth2_access_code:
        - campaign_data
      x-authorization-privileges:
      - campaign:write
definitions:
  Href:
    type: object
    properties:
      href:
        type: string
  TrackDto:
    type: object
    required:
    - campaign_activity_id
    properties:
      campaign_activity_id:
        type: string
        format: uuid
        example: 31bb0c22-1c72-4841-9d2c-8bd41ed526bc
        description: The campaign activity ID associated with the registration form.
        readOnly: true
      conf_email_campaign_activity_id:
        type: string
        format: uuid
        example: 31bb0c22-1c72-4841-9d2c-8bd41ed526bc
        description: The confirmation email campaign activity ID.
        readOnly: true
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: The event's create time.
        readOnly: true
      items_header:
        type: string
        example: Items
        description: items header
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: The event's last modification time.
        readOnly: true
      media_assets:
        type: array
        description: The list of media assets configured for the event.
        items:
          $ref: '#/definitions/EventMediaAssetDto'
      overall_ticket_capacity:
        type: integer
        format: int32
        example: 100
        description: The total overall ticket capacity.
      platform_fee_scope_type:
        type: string
        example: OWNER
        description: Specifies if the platform fee is passed to registrant or absorbed by the event host.
      promo_codes:
        type: array
        description: The list of <code>promo_codes</code> configured for the event.
        items:
          $ref: '#/definitions/PromoCodeDto'
      reg_manually_closed_flag:
        type: boolean
        example: true
        description: Closes registration to prevent further registrations.
      registration_end_time:
        type: string
        example: '2024-01-01T20:30:00Z'
        description: The date and time when registration should end. ISO format.
      registration_type:
        type: string
        example: TICKET
        description: The registration type for the event.
      restrict_to_single_ticket_flag:
        type: boolean
        example: true
        description: Restricts selection to a single ticket.
      tickets_header:
        type: string
        example: Tickets
        description: The header to use for tickets.
      track_id:
        type: string
        example: s8zabc
        description: The ticket <code>track id</code>.
        readOnly: true
      items:
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/ItemDto'
    title: TrackDto
  RegistrationTicketDto:
    type: object
    properties:
      checked_in_time:
        type: string
        format: date-time
        example: '2025-11-20T16:13:02.072Z'
        description: The event check in time date, in ISO format.
      editable:
        type: boolean
        example: false
        description: Set to <code>true</code> to allow or <code>false</code> to not allow registrations to be modified.
      order_ticket_key:
        type: string
        example: a1b2c3
        description: The system generated number used to identify a ticket order.
      price:
        type: number
        example: 25.0
        description: The price for a ticket.
      ticket_name:
        type: string
        example: General Admission
        description: The name used to identify the ticket.
      fields:
        type: array
        items:
          $ref: '#/definitions/SimpleFieldDto'
  EventMetaDataDto:
    type: object
    properties:
      items_enabled:
        type: boolean
        example: true
        description: Specifies if the items are enabled for the event.
      paid_event:
        type: boolean
        example: true
        description: Specifies if the event requires payment.
      promo_codes_enabled:
        type: boolean
        example: true
        description: Specifies if promotion codes are enabled for the event.
    title: EventMetaDataDto
    description: Additional information related to event
  EventListingDto:
    type: object
    properties:
      event_id:
        type: string
        example: 05cf4d60-56ea-4023-bf49-b35e56a9c7b5
        description: The unique identifier for the event.
      title:
        type: string
        example: Class of 2015 Reunion
        description: The title of the event.
      description:
        type: string
        example: Join us for a night of reminiscing and celebration!
        description: The description of the event.
      start_time:
        type: string
        example: '2023-12-01T20:30:00Z'
        description: The start time of the event in UTC format.
      end_time:
        type: string
        example: '2023-12-01T21:30:00Z'
        description: The end time of the event in UTC format.
      status:
        type: string
        example: ACTIVE
        description: The current status of the event.
      registration_url:
        type: string
        example: https://sample_url.com/ev/reg/scrk2u2
        description: The URL for event registration
      name:
        type: string
        example: Holiday Market at Snowport
        description: The name of the event.
      event_type:
        type: string
        example: PERFORMING_ARTS
        description: Use to specify the type of event.
      location_type:
        type: string
        example: PHYSICAL
        description: Specifies if this is a physical or virtual event (of both), or if the location is to be specified in the future.
      time_zone_type:
        type: string
        example: EST
        description: The type of time zone.
      address:
        $ref: '#/definitions/AddressDto'
      event_registration_summary_metrics:
        $ref: '#/definitions/EventRegistrationSummaryMetricDto'
      create_time:
        type: string
        example: '2023-09-01T20:30:00Z'
        description: The create time of the event in UTC format.
    description: Provides information about the event listing.
  LineItemDetailsDto:
    type: object
    properties:
      amount:
        type: string
        example: $25.00
        description: The formatted amount of the line item.
      amount_unformatted:
        type: number
        example: 25.0
        description: The unformatted amount of the line item.
      line_item_type:
        type: string
        example: TICKET
        description: Type of line item.
      name:
        type: string
        example: General Admission
        description: The name of the line item.
  RegistrantInformationLiteDto:
    type: object
    properties:
      checkedIn_tickets:
        type: integer
        format: int32
        example: 1
        description: The total number of tickets processed to check in for the event.
      checkin_status:
        type: string
        example: CHECKED_IN
        description: The status of the check-in.
      eligible_checkin_tickets:
        type: integer
        format: int32
        example: 2
        description: The current checkin status.
      email_address:
        type: string
        example: sarah_lang@mymail.com
        description: The email address associated with the registered event user.
      first_name:
        type: string
        example: sarah
        description: The first name of the person that registered for the event.
      last_name:
        type: string
        example: lang
        description: The last name of the person that registered for the event.
      new_contact:
        type: boolean
        example: true
        description: Set to <code>true</code> to indicate that the contact is new, otherwise set to <code>false</code>.
      payment_status:
        type: string
        example: PAID
        description: The current payment status for a registration.
      registration_id:
        type: string
        example: 3f1ceb43-f858-432e-b287-30a6d20d1250
        description: The ID that uniquely identifies a registration.
      registration_status:
        type: string
        example: <code>REGISTERED</code>
        description: 'The status of a registration. Acceptable values include: <code>PENDING</code>, <code>REGISTERED</code>, <code>CANCELED</code>, <code>EXPIRED</code>, <code>IN_PROGRESS</code>, <code>FAILED</code>.'
      registration_time:
        type: string
        format: date-time
        example: '2025-11-20T16:13:02.072Z'
        description: The time of event registration, in ISO format.
      tickets:
        type: integer
        format: int32
        example: 5
        description: Total number of tickets associated with a registration.
      total:
        type: number
        example: 100.0
        description: The total amount paid for a registration.
      track_key:
        type: string
        example: wfhmkz
        description: System generated string used to track a registration.
  OrderDetailsDto:
    type: object
    properties:
      details:
        type: array
        items:
          $ref: '#/definitions/LineItemDetailsDto'
      number:
        type: string
        example: ZWbsLNGrHT
        description: The system assigned string value used to identify the event order.
      payment_method:
        type: string
        example: STRIPE
        description: The payment method used when the order was placed. Acceptable payment methods include; `STRIPE` and `PAYPAL`.
      payment_status:
        type: string
        example: PENDING
        description: The event registration payment status. Acceptable values include; <code>PENDING</code>, <code>PAID</code>, <code>REFUNDED</code>, <code>CANCELLED</code>, <code>FAILED</code>, <code>CHARGED_BACK</code>, <code>PENDING</code>, <code>UNKNOWN</code.
      payment_time:
        type: string
        example: '2025-08-29T14:29:57.712Z'
        description: Displays the date and time the payment was made, in ISO format.
      payment_transaction_id:
        type: string
        example: 0bbfdf32-0609-4467-ad19-514130f5beaf
        description: The unique ID used to identify a payment transaction.
      tickets_link:
        type: string
        example: https://lp.constantcontactpages.com/ev/reg/holly/registrations/fg84378c-a92e-41c4-87c2-0383986baaf9/tickets
        description: The URL used to access purchased tickets.
      tickets_text:
        type: string
        example: Your tickets for access to the Holiday Festival of Lights.
        description: Text that describes the event and ticket information.
      title:
        type: string
        example: Holiday Festival of Lights
        description: The title for the order.
  RegistrationStatusUpdateResponseDto:
    type: object
    properties:
      failed_registration_ids:
        type: array
        example:
        - 278f74c7-0765-4086-a644-f99fec6817e8
        description: List of registration IDs that failed to update. Empty or omitted means all updates succeeded.
        items:
          type: string
    description: Response payload for bulk status update operations. Contains list of registration IDs that failed to update.
  OrderTicketKeysRequestDto:
    type: object
    required:
    - order_ticket_keys
    properties:
      order_ticket_keys:
        type: array
        example:
        - a1b2c3
        - d4e5f6
        description: Array of order ticket keys to process.
        items:
          type: string
    description: Request payload for ticket check-in operations.
  AddressDto:
    type: object
    required:
    - address_type
    properties:
      address_type:
        type: string
        example: EVENT
        description: The address type. Only `EVENT` is currently supported.
      line1:
        type: string
        example: 100 Seaport Blvd
        description: The first line of the address where the event takes place.
        minLength: 0
        maxLength: 80
      line2:
        type: string
        example: 100 Seaport Blvd
        description: The second line of the address where the event takes place.
        minLength: 0
        maxLength: 80
      city:
        type: string
        example: Boston
        description: The city where the event takes place.
        minLength: 0
        maxLength: 80
      country:
        type: string
        example: United States
        description: Name of the country where the event takes place.
        minLength: 0
        maxLength: 128
      country_code:
        type: string
        example: US
        description: The country code associated with the country where the event takes place.
        minLength: 0
        maxLength: 2
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: The create time of the event.
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: The last modification time of the event.
      latitude:
        type: number
        format: float
        example: 42.629368
        description: The latitude number indicating where the event takes place.
      longitude:
        type: number
        format: float
        example: -71.27594
        description: The longitude number indicating where the event takes place.
      location_name:
        type: string
        example: Holiday Market at Snowport
        description: The venue name where the event takes place.
        minLength: 0
        maxLength: 100
      postal_code:
        type: string
        example: '02451'
        description: The address postal code.
        minLength: 0
        maxLength: 25
      state:
        type: string
        example: Queensland
        description: The State/Province where the event takes place.
        minLength: 0
        maxLength: 80
      state_code:
        type: string
        example: MA
        description: The state code where the event takes place.
        minLength: 0
        maxLength: 2
    title: AddressDto
  EventCopyRequestDto:
    type: object
    required:
    - target_event_name
    properties:
      target_event_name:
        type: string
        example: My Copied Event
        description: Name for the copied event. Must be unique for the account.
      source_campaign_activities:
        type: array
        example:
        - 550e8400-e29b-41d4-a716-446655440000
        - 304de5ff-6d25-4395-87db-45d10e144659
        description: Optional array of campaign activity UUIDs to copy. If not provided, all activities are copied.
        items:
          type: string
          format: uuid
    description: Request payload for copying an event.
  TicketSummaryDto:
    type: object
    required:
    - name
    - ticket_type
    properties:
      name:
        type: string
        example: VIP Ticket
        description: The name to associate with the ticket.
      ticket_id:
        type: string
        example: TICKET123
        description: The unique identifier for the ticket.
      ticket_type:
        type: string
        example: PAID
        description: The type of ticket.
      associated:
        type: boolean
        example: false
        description: Specifies if the ticket is associated with the promo code.
      display_ticket_on_promo_redemption:
        type: boolean
        example: true
        description: Specifies if the ticket on the promo code redemption displays.
      hidden_flag:
        type: boolean
        example: true
        description: Specifies if the ticket is hidden.
    title: TicketSummaryDto
  EventDto:
    type: object
    required:
    - campaign_id
    - default_track
    - description
    - event_end
    - event_start
    - event_type
    - location_type
    - name
    - time_zone
    - title
    properties:
      description:
        type: string
        example: It's time for the High-Class Reunion. A night of reminiscing, networking, and celebrating shared success amongst old friends.
        description: Provides the event description.
        minLength: 0
        maxLength: 600
      title:
        type: string
        example: Riverdale High - Class of 2015 Reunion
        description: The title for the event. The title does not have to be unique for an account.
        maxLength: 100
      name:
        type: string
        example: Class of 2015 Reunion
        description: The name of the event, has to be unique for the account.
        minLength: 1
        maxLength: 100
      event_id:
        type: string
        format: uuid
        example: 05cf4d60-56ea-4023-bf49-b35e56a9c7b5
        description: The ID that uniquely identifies the event.
      campaign_id:
        type: string
        format: uuid
        example: 05cf4d60-56ea-4023-bf49-b35e56a9c7b5
        description: The system assigned ID that uniquely identifies the event and is identical to the `event_id`.
      event_start:
        type: string
        example: '2023-12-01T20:30:00Z'
        description: The date the event starts.
      event_end:
        type: string
        example: '2023-12-01T21:30:00Z'
        description: The date the event ends.
      event_type:
        type: string
        example: PERFORMING_ARTS
        description: Identifies the event type.
      eso:
        type: string
        example: 001wQREZJ98vGM_rGt-fbtpGw==
        description: The encrypted SOId.
        readOnly: true
      contact:
        description: The contact information associated with the event.
        $ref: '#/definitions/ContactDto'
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: The time the event was created, in ISO format. Read-only.
      active_time:
        type: string
        example: '2023-11-17T17:33:21.655Z'
        description: The time the event was published, in ISO format.
        readOnly: true
      cancelled_time:
        type: string
        example: '2023-11-17T17:33:21.655Z'
        description: The time the event was cancelled, in ISO format. Read-only.
        readOnly: true
      deleted_time:
        type: string
        example: '2023-11-17T17:33:21.655Z'
        description: The time the event was deleted, in ISO format. Read-only.
        readOnly: true
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: The date and time the event was last modified.
      address:
        $ref: '#/definitions/AddressDto'
      currency_type:
        type: string
        example: USD
        description: The accepted currency for payments. Required for events collecting payments ['AUD','BRL','CAD','CHF','CZK','DKK','EUR','GBP','HKD','HUF','ILS','JPY','MXN','MYR','NOK','NZD','PHP','PLN','RUB','SEK','SGD','THB','TRY','TWD','USD']
      default_track:
        $ref: '#/definitions/TrackDto'
      display_contact_flag:
        type: boolean
        example: true
        description: Display or hide event contact information on the registration form and registration confirmation message.
      display_end_time_flag:
        type: boolean
        example: true
        description: Display or hide the event end time on the registration form and registration confirmation message.
      display_on_calendar_flag:
        type: boolean
        example: true
        description: Display the event on the Event Calendar.
      display_time_zone_flag:
        type: boolean
        example: true
        description: Display the time zone on the registration form and registration confirmation message.
      event_calendar_url:
        type: string
        example: https://lp.constantcontactpages.com/ev/calendar/001wZREXJ98vGM_rGt-fbtpGw==
        description: The event calendar URL.
        readOnly: true
      event_metadata:
        description: Includes additional event information.
        $ref: '#/definitions/EventMetaDataDto'
      event_code:
        type: string
        example: EVENT124
        description: The short code to use for the event.
      event_promotions:
        type: array
        description: List of event promotions.
        readOnly: true
        items:
          $ref: '#/definitions/EventPromotionDto'
      event_settings:
        $ref: '#/definitions/EventSettingsDto'
      event_widget_url:
        type: string
        example: https://eventsfeed.constantcontact.com/widget/myevents.js?eso=001wZREXJ98vGM_rGt-fbtpGw==
        description: The event widget URL.
        readOnly: true
      failed_campaign_activities:
        type: array
        description: List of failed campaign activities.
        readOnly: true
        items:
          type: string
          format: uuid
          description: Lists the campaign activity ID for any failed campaign activities.
      location_type:
        type: string
        example: PHYSICAL
        description: Specifies if the event is physical and/or virtual, or to be determined.
      notify_owner_on_reg:
        type: boolean
        example: true
        description: If `true`, sends an email to the event owner when a registration is made.
      online_meeting:
        description: The online meeting information for a virtual event.
        $ref: '#/definitions/OnlineMeetingDto'
      registration_url:
        type: string
        example: https://l1.constantcontactpages.com/ev/reg/scrk2u2
        description: The event registration URL.
        readOnly: true
      status:
        type: string
        example: ACTIVE
        description: Specifies the event's current status.
      time_zone:
        type: string
        example: US/Eastern
        description: The time zone where the event takes place.
      time_zone_abbreviation:
        type: string
        example: EST
        description: The abbreviation to use to indicate the time zone where the event takes place.
        readOnly: true
  PaginationDtoEventListingDto:
    type: object
    properties:
      records:
        type: array
        description: List of events for the current page.
        readOnly: true
        items:
          $ref: '#/definitions/EventListingDto'
      total_records:
        type: integer
        format: int32
        example: 26
        description: The total number of events across all pages.
        readOnly: true
      next_cursor:
        type: string
        example: roBvv-Nidkuxg8gTAJ5joDU6yQufWMDdEHjRqzcTXnZ3qBZYR3jZChnZTC6McJ6j8M70fM4IFT8KNJvA076D0g
        description: Use to get the next page of results.
        readOnly: true
      prev_cursor:
        type: string
        example: Z83W2HtZsQkzXXStyKDDKs5hkuPz7mQvqcg37Quq-Lb_BXnKqYmUf13Li6ZyeRCY8M70fM4IFT8KNJvA076D0g
        description: Use to get the previous page of results.
        readOnly: true
      _links:
        $ref: '#/definitions/Links'
  Links:
    type: object
    properties:
      self:
        $ref: '#/definitions/Href'
      next:
        $ref: '#/definitions/Href'
      prev:
        $ref: '#/definitions/Href'
    description: HATEOAS links for navigation. Is null if no additional navigation links are available.
  StatusDisplayLabelDto:
    type: object
    properties:
      label:
        type: string
        example: Sold out
        description: 'The display text for the status. For example: Available, Sold out.'
        readOnly: true
      label_key:
        type: string
        example: status_label.available
        description: 'The translation key for the status. For example: status_label.available, status_label.sold_out.'
        readOnly: true
    title: StatusDisplayLabelDto
    description: Represents a display label for a status with the translation label key.
  EventRegistrationSummaryMetricDto:
    type: object
    properties:
      registration_count:
        type: integer
        format: int32
        description: The total number of registrants for the event.
      ticket_sold:
        type: integer
        format: int32
        description: The total number of tickets sold for the event.
      item_sold:
        type: integer
        format: int32
        description: The total number of items sold for the event.
  SimpleFieldDto:
    type: object
    properties:
      display_order:
        type: integer
        format: int32
        example: 1
        description: 'If specified, determines the order in which to return a subset of contact''s details. For example, if you want a contact''s email address to display first, set the <code>display_order</code> to <code>1</code> within the <code>field_label</code>: <code>CONTACT_EMAIL_ADDRESS</code> details section.'
      field_label:
        type: string
        example: Email Address
        description: The label used to identify a field within each contact details section.
      field_name:
        type: string
        example: CONTACT_EMAIL_ADDRESS
        description: The formatted name used to identify a field within each contact details section.
      field_type:
        type: string
        example: TEXT
        description: Identifies the type of field. Acceptable values include; TEXT_AREA, DATE, SINGLE_SELECT,MULTI_SELECT, INFORMATIONAL, TERMS_CONDITIONS, ADDRESS, HEADER, DIVIDER, STATIC_TEXT.
      label_key:
        type: string
        example: registration.field.label.contact_email_address
        description: The label used to identify a contact's registration details.
      field_value:
        type: string
        example: john.doe@example.com
        description: The value of the field for this contact. For example, if the field is an email address, the field_value would contain the actual email address.
      choices:
        type: array
        example:
        - Option 1
        - Option 2
        - Option 3
        description: For SINGLE_SELECT and MULTI_SELECT field types, this array contains the available options the registrant can choose from.
        items:
          type: string
    description: An array of contact details.
  PaymentStatusUpdateRequestDto:
    type: object
    required:
    - payment_status
    - registration_ids
    properties:
      registration_ids:
        type: array
        example:
        - 4460bdcd-1a8a-434a-a7bf-c72a500743b2
        - 2ed7e310-ab71-4e8f-8863-8784e7ee4183
        description: List of registration IDs to update.
        items:
          type: string
      payment_status:
        type: string
        example: Paid
        description: New payment status to set.
    description: Request payload to update payment status.
  PromoCodeDto:
    type: object
    required:
    - name
    properties:
      name:
        type: string
        example: WIN95
        description: The name of the promotional code.
      end_time:
        type: string
        example: '2026-11-17T17:33:21.652Z'
        description: The date to end the promotional code. ISO format
      deleted_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: Delete time of the promo code. ISO format.
      description:
        type: string
        example: JAN_PROMO
        description: Promotional code description.
      discount_amount:
        type: number
        example: 10.0
        description: The discount dollar amount date to apply to the promotional code.
      discount_code_scope:
        type: string
        example: ORDER_TOTAL
        description: The scope that applies to the discount code.
      discount_code_type:
        type: string
        example: PERCENT
        description: The type of discount code to use for the event.
      discount_percent:
        type: integer
        format: int32
        example: 20
        description: The promotional discount percentage to apply for the promotional code.
      id:
        type: string
        example: '123456'
        description: The ID to use for the promotion code.
      items:
        type: array
        example:
        - item_id: item123
          name: T-shirt
        description: List of items associated with this promo code.
        items:
          $ref: '#/definitions/ItemSummaryDto'
      paused_flag:
        type: boolean
        example: false
        description: Pauses the promotional code.
      quantity_available:
        type: integer
        format: int32
        example: 500
        description: Total number of promotional codes available for use.
      quantity_total:
        type: integer
        format: int32
        example: 1000
        description: Total number of promotional codes to accept.
      quantity_used:
        type: integer
        format: int32
        description: Total number of promotional codes used.
      start_time:
        type: string
        example: '2026-11-10T17:33:21.652Z'
        description: The date the promotional code starts. ISO format
      status:
        type: string
        description: The status of the promo code.
      status_labels:
        type: array
        example:
        - label: Available
          label_key: status_label.available
        - label: Sold out
          label_key: status_label.sold_out
        description: Status display labels with display text and translation key.
        readOnly: true
        items:
          $ref: '#/definitions/StatusDisplayLabelDto'
      tickets:
        type: array
        items:
          $ref: '#/definitions/TicketSummaryDto'
      time_limit_flag:
        type: boolean
        example: false
        description: Indicates a time limit applies to the promotional code.
    title: PromoCodeDto
    description: Specifies promotion code details.
  EventSettingsDto:
    type: object
    properties:
      event_requires_payments:
        type: boolean
        example: true
        description: Specifies if the event is configured to require payment.
      item_configured:
        type: boolean
        example: false
        description: Specifies if items exist for the event.
      online_payment_configured:
        type: boolean
        example: false
        description: Specifies if online payment is configured for the event.
      payment_configured:
        type: boolean
        example: false
        description: Specifies if payment is configured for the event.
      promo_code_configured:
        type: boolean
        example: false
        description: Specifies if promo code is configured for the event.
      ticket_configured:
        type: boolean
        example: true
        description: Specifies if ticketing is configured for the event
  Links-2:
    type: object
    properties:
      next:
        $ref: '#/definitions/Href'
      prev:
        $ref: '#/definitions/Href'
      self:
        $ref: '#/definitions/Href'
  OnlineMeetingDto:
    type: object
    properties:
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: Create time of the event. ISO format.
      enabled_flag:
        type: boolean
        example: false
      instructions:
        type: string
      label:
        type: string
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: Last modification time of the event. ISO format.
      provider_type:
        type: string
        example: ZOOM
        description: The type of online meeting provider for the event
      url:
        type: string
        example: https://meet.google.com/abc-defg-hij
        description: The URL to use for the online meeting.
    title: OnlineMeetingDto
  AttributeDto:
    type: object
    required:
    - name
    properties:
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: Create time of the event.
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: Last modification time of the event.
      attribute_id:
        type: string
        example: attr123
        description: The unique identifier for the attribute.
      display_order:
        type: integer
        format: int32
        example: 1
        description: The order in which the attribute should display.
      name:
        type: string
        example: Size
        description: The name of the attribute
      quantity_total:
        type: integer
        format: int32
        example: 100
        description: The total quantity available for this attribute.
      quantity_remaining:
        type: integer
        format: int32
        example: 20
        description: The total quantity that remains available for this attribute.
      quantity_sold:
        type: integer
        format: int32
        example: 40
        description: The total quantity sold for this attribute.
      paused_flag:
        type: boolean
        example: false
        description: Specifies if the attribute is currently paused from sales.
      deleted_time:
        type: string
        example: '2025-05-01T00:00:00.000Z'
        description: The time when the attribute was deleted.
      status_labels:
        type: array
        items:
          $ref: '#/definitions/StatusDisplayLabelDto'
    title: AttributeDto
  DetailedRegistrationDto:
    type: object
    properties:
      registration_id:
        type: string
        example: 4g1ceb43-f858-432e-b287-30a6d20d1250
        description: The unique ID used to identify an event registration.
      contact_id:
        type: string
        example: 84afe95a-5866-11ec-8019-fa163e56c9b0
        description: The unique ID used to identify a contact.
      checkedIn_tickets:
        type: integer
        format: int32
        example: 0
        description: The total number of tickets assigned to a given <code>registration_id</code>.
      checkin_status:
        type: string
        example: NOT_CHECKED_IN
        description: Provides the status of eligible checkin tickets.
      eligible_checkin_tickets:
        type: integer
        format: int32
        example: 1
        description: The total number of tickets eligible for checkin.
      registration_date:
        type: string
        format: date-time
        example: '2025-11-20T16:13:02.072Z'
        description: The event registration date, in ISO format.
      registration_status:
        type: string
        example: REGISTERED
        description: Provides the current registration status; <code>REGISTERED</code>, <code>PENDING</code>, <code>CANCELED</code>, <code>EXPIRED</code>, <code>IN_PROGRESS</code>, <code>FAILED</code>.
      display_physical_tickets:
        type: boolean
        example: true
        description: Determines if the physical tickets should display or not display.
      contact:
        type: array
        items:
          $ref: '#/definitions/SimpleFieldDto'
      tickets:
        type: array
        items:
          $ref: '#/definitions/RegistrationTicketDto'
      order_summary:
        $ref: '#/definitions/OrderDetailsDto'
  RegistrationStatusUpdateRequestDto:
    type: object
    required:
    - registration_ids
    - registration_status
    properties:
      registration_ids:
        type: array
        example:
        - 0c6a6ce8-e620-4ffc-92e6-6ffb689eb9d2
        - 15cdb4d3-86b9-4b9d-9431-4a5a0de53c4f
        description: List of registration IDs to update.
        items:
          type: string
      registration_status:
        type: string
        example: CANCELED
        description: New registration status to set.
    description: Request payload to update registration status.
  ItemDto:
    type: object
    required:
    - name
    properties:
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: The create time of the event is ISO format.
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: Last modification time of the event.
      item_id:
        type: string
        example: ITEM123
        description: The unique identifier for the item.
      display_order:
        type: integer
        format: int32
        example: 1
        description: The order in which to display an item.
      name:
        type: string
        example: VIP Ticket
        description: The name of the item.
      description:
        type: string
        example: Premium access to all event areas.
        description: The description of the item.
      price:
        type: number
        example: 25.0
        description: The price per item.
      quantity_total:
        type: integer
        format: int32
        example: 100
        description: The total number of items available.
      quantity_remaining:
        type: integer
        format: int32
        example: 50
        description: The total number of items still available.
      quantity_sold:
        type: integer
        format: int32
        example: 50
        description: The total number of items sold.
      limit_per_order:
        type: integer
        format: int32
        example: 2
        description: Limits the number of items per order.
      show_remaining_flag:
        type: boolean
        example: false
        description: Set to display or not to display the number of remaining items to customers.
      paused_flag:
        type: boolean
        example: true
        description: Specifies if the item is currently paused from sales.
      deletable_flag:
        type: boolean
        example: true
        description: Specifies if the item can be deleted.
        readOnly: true
      media_internal_id:
        type: string
        example: rqla5y1
        description: The internal identifier for the item's image.
      media_url:
        type: string
        example: https://example.com/media/image.jpg
        description: The URL to associate with the media.
      time_limit_flag:
        type: boolean
        example: false
        description: Specifies if the item has time-based availability.
      start_time:
        type: string
        example: '2025-04-17T20:00:00.000Z'
        description: The start time when the item becomes available.
      end_time:
        type: string
        example: '2025-05-17T20:00:00.000Z'
        description: The time that the item become unavailable.
      hidden_flag:
        type: boolean
        example: false
        description: Specifies if the item is hidden from customers.
      deleted_time:
        type: string
        example: '2024-05-17T20:00:00.000Z'
        description: The time when the item was deleted.
      status_labels:
        type: array
        items:
          $ref: '#/definitions/StatusDisplayLabelDto'
      attributes:
        type: array
        items:
          $ref: '#/definitions/AttributeDto'
    title: ItemDto
  EventMediaAssetDto:
    type: object
    properties:
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: Create time of the event media. ISO format.
      external_id:
        type: string
        example: '123456'
        description: The external ID to associate with the event media.
      external_url:
        type: string
        description: The event media URL.
      internal_id:
        type: string
        example: '123456'
        description: The internal ID for the event media.
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: Last time the media was modified. ISO format.
      media_type:
        type: string
        example: BNR
        description: Identifies the media type.
    title: EventMediaAssetDto
  EventPromotionDto:
    type: object
    properties:
      assoc_activity_sub_type:
        type: string
        example: EMAIL_INVITATION
        description: The type of associated activity
      campaign_activity_id:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
        description: The unique identifier for the campaign activity.
      document_id:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
        description: The unique identifier for the document.
      ext_id:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
        description: The external identifier.
      default:
        type: boolean
        example: false
        description: Whether this is the default promotion.
    description: Represents a promotion associated with an event.
  ItemSummaryDto:
    type: object
    required:
    - name
    properties:
      associated:
        type: boolean
        example: true
        description: Specifies if the item is associated with the promo code.
      display_item_on_promo_redemption:
        type: boolean
        example: true
        description: Specifies if the item on promo code redemption displays.
      hidden_flag:
        type: boolean
        example: true
        description: Specifies if the item is hidden.
      item_id:
        type: string
        example: ITEM123
        description: The unique identifier for the item.
      name:
        type: string
        example: T-shirt
        description: The name of the item.
    title: ItemSummaryDto
    description: Summary information for an item.
  PaginatedRegistrations:
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links-2'
      next_cursor:
        type: string
        description: Use to get the next page of results.
      prev_cursor:
        type: string
        description: Use to get the previous page of results.
      records:
        type: array
        items:
          $ref: '#/definitions/RegistrantInformationLiteDto'
      total_records:
        type: integer
        format: int32
        example: 563
        description: The total number of resulting records.
  ContactDto:
    type: object
    required:
    - name
    - organization_name
    properties:
      create_time:
        type: string
        example: '2023-11-17T17:33:21.652Z'
        description: The create time of the event.
      email_address:
        type: string
        example: john.doe@aol.com
        description: The email address to use to when replying to email, as well as the email that receives SO notifications.
        minLength: 0
        maxLength: 128
      from_email_address:
        type: string
        example: john.doe@aol.com
        description: The email address to use for sending confirmation emails.
        minLength: 0
        maxLength: 128
      last_update_time:
        type: string
        example: '2023-12-07T13:18:39.681Z'
        description: The time the event was last modified. ISO format
      name:
        type: string
        example: John Doe
        description: The contact name to associate with the event.
        minLength: 0
        maxLength: 100
      organization_name:
        type: string
        example: Doe Orchards
        description: The organization name to associate with the event.
        minLength: 0
        maxLength: 255
      phone_number:
        type: string
        example: 781 265 8956
        description: The phone number to associate with the event.
        minLength: 1
        maxLength: 25
    title: ContactDto
securityDefinitions:
  oauth2_implicit:
    type: oauth2
    authorizationUrl: https://authz.constantcontact.com/oauth2/default/v1/authorize
    flow: implicit
    scopes:
      contact_data: Read or modify contact data.
      campaign_data: Read or modify email campaign data.
      account_read: Read account data.
      account_update: Modify account data.
  oauth2_access_code:
    type: oauth2
    authorizationUrl: https://authz.constantcontact.com/oauth2/default/v1/authorize
    tokenUrl: https://authz.constantcontact.com/oauth2/default/v1/token
    flow: accessCode
    scopes:
      contact_data: Read or modify contact data.
      campaign_data: Read or modify email campaign data.
      account_read: Read account data.
      account_update: Modify account data.
  ctctPartnerAuthorizer:
    description: Partner Authentication
    type: oauth2
    authorizationUrl: https://v3api-partner.auth.us-east-1.amazoncognito.com/oauth2/token
    flow: implicit
    scopes:
      v3api/general.partner: Access to general partner API methods
  api_key:
    type: apiKey
    name: x-api-key
    in: header
